.hipster {
  display: block;
  width: 209px;
  height: 300px;
  margin: 20px auto;
  background: url('../../../assets/img/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../../assets/img/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
